.navbar
{
    background-color: #000324 ;
    justify-items: space-evenly;
}

.background-img 
{
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; 
}

.nav-text
{
color: white;
  justify-content: center; 
  display: flex;
  align-items: end;
}


.nav-img { height: 44px; }            /* logo size */
.nav-link.nav-text { padding: .5rem .75rem; }


.header-box
{
    width:65rem;
    height: 15 rem;
    background-color: #000324;
    opacity: 80%;
    margin: 5rem;
    margin-left: 8rem;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.header-text
{
    color: white;
    display: flex;
    justify-content: center;
}
.hamster-text{
    
}
.package-text{
    color: blue;
    width: 18 rem;
  
}

.background-room
{
    background-image: url('../assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 630px; 
  width:auto;
}

.room-text
{
    color: white;
    margin-top: 3%;
}

.background-amenities
{
     background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 500px; 
}

.amenities-text
{
color: white;
display: block;
justify-content: center; 
  align-items: center;
  margin-top: 4%;
}

.amenities-text2{
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}


.reverse-img
{
background-image: url(../assets/hamsterreserve.jpg);
background-size: cover;
  background-position:cover;
  height: 590px; 
}

.reverse-box
{
   
    
    background-color: #000324;
  
    display: flex;
    justify-content: center;
    padding: 30px;
   
}

.reverse-text
{
   color: white;
display: flex;
justify-content: center; 
  align-items: center;
  margin-bottom: 3rem;
 
}

.reserve-check{
    display: flex;
    justify-content: center;
}

.searchtext{
    color: white;
}

.searchbox{
    display: flex;
    justify-content: center;
    
}

.footerbox
{           
  height: 250px;                  
  background: rgba(20, 25, 60, 0.85);            
    background-color: #000324;
    opacity: 100%;
}

.footer-logo{
    margin-top:2%;
     height: 80px;
     width: 90px;
     display:flex;
     justify-content: center;
     text-align: center;
     margin-left: 45%;
}

.footer-text{
    color:white;
    margin-top: 1%;
    text-align: center;
}

.footer-text2{
   color:white;
    margin-top: 1%;
    text-align: center;
}

.package-margin{
    margin-left: 5%;
    margin-right: 5%;

}

.button-style{
    margin-left: 1rem;
    margin-top: 2rem;
}



.background-room,
.background-amenities {
    background-size: cover;
    background-position: center;
}

.hide-on-tablet{
    display:block;
}

.nav-img { height: 44px; }

/* Tidy link spacing */
.navbar .nav-link { padding: .5rem 1rem; }

/* Optional: make sure links are readable on dark bg */
.navbar .nav-link { color:#fff; }
.navbar .nav-link:hover { color:#adb5bd; }



/*                  Tablet                 */

@media (max-width: 768px)
{

    body{
    display:flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    
}

.navbar .navbar-brand.mx-lg-4 { margin: 0 1.25rem; }





.background-img 
{
    background-image: url('../assets/header.jpg');
    background-size:cover;
    background-position: center;
    height: 300px; 
    margin-right: 1px;
    margin-left: 1px;;
}


.header-box
{
    width: 40rem;
    height: 5 rem;
    background-color: #000324;
    opacity: 80%;
    margin: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.header-text
{
    color: white;
    display: flex;
    justify-content: center;
    text-align:center;
}

.hamster-home{
    background-image: url(../assets/hamsterhomejpg.jpg);
    
    display:flex;
    justify-items: flex-start;
    padding: 3px;
    margin-left: 0%;
    align-items: left;
}

.background-room
{
    background-image: url('../assets/bg2.jpg');
    background-size:cover;
    background-position: center;
    height: 2100px; 
    padding:80px;
}

.room-text
{
    color: white;
    margin-top: 1%;
    display: flex;
    margin-left:70px ;   
    
}



.package-text{
    color: blue;
    width: 18 rem;
    
}


.background-amenities
{
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; 
}

.amenities-text
{
    color: white;
    display: block;
    justify-content: center; 
    align-items: center;
    margin-top: 4%;
}

.amenities-text2{
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}


.fixed-picture{
    position: relative;
   justify-content: left;
   text-align: left;
}

.reverse-box
{
   
    height: 10 rem;
    background-color: #000324;
    opacity: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

.reverse-text
{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 2rem;
}

.reverse-img{
    display: flex;
     justify-content: flex-start;
    align-items: left;



}

.searchtext{
    color: white;
}

.searchbox{
    display: flex;
    justify-content: center;
    
}

.footerbox
{           
    height: 250px;                  
    background: rgba(20, 25, 60, 0.85);            
    background-color: #000324;
    opacity: 100%;
}

.footer-logo{
    margin-top:2%;
    height: 80px;
    width: 90px;
    display:flex;
    justify-content: center;
    text-align: center;
    margin-left: 45%;
}

.footer-text{
    color:white;
    margin-top: 1%;
    
     text-align: center;
}

.footer-text2{
    color:white;    
    margin-top: 1%;
     text-align: center;
}

.package-margin{
    margin-left: 5%;
    margin-right: 5%;
    
}

.button-style{
    margin-left: 1rem;
    margin-top: 4vh;
}
    .cards-container {
      display: flex;
      align-items: center; /* Centers cards vertically in a row layout */
    }





}




@media (max-width: 360px)
{
    
    .hide-on-mobile{
        display:none !important;
    }

.header-box
{
  width:fit-content;
}

.background-room{
    height:fit-content;
}

.background-amenities{
    height:fit-content;
}

.cards-container {
      display: flex;
      align-items: center; 
    }



}
