.navbar
{
    background-color: #000324 ;
}

.background-img 
{
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; 
}

.nav-text
{
color: white;
  justify-content: center; 
  display: flex;
  align-items: end;
}


.nav-img { height: 44px; }            /* logo size */
.nav-link.nav-text { padding: .5rem .75rem; }


.header-box
{
    width:60rem;
    height: 15 rem;
    background-color: #000324;
    opacity: 80%;
    margin: 9rem;
    margin-left: 30 rem;
    display: flex;
    justify-content: center;
    padding: 70px;
}

.header-text
{
    color: white;
    display: flex;
    justify-content: center;
}
.hamster-text{
    
}
.package-text{
    color: blue;
    width: 18 rem;
  
}

.background-room
{
    background-image: url('../assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 590px; 
  width:auto;
}

.room-text
{
    color: white;
    margin-top: 3%;
}

.background-amenities
{
     background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 500px; 
}

.amenities-text
{
color: white;
display: block;
justify-content: center; 
  align-items: center;
  margin-top: 4%;
}

.amenities-text2{
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}


.reverse-img
{
background-image: url(../assets/hamsterreserve.jpg);
background-size: cover;
  background-position:cover;
  height: 590px; 
  margin-left: 30vh;
  margin-right: 30vh;
}

.reverse-box
{
   width: 62rem;
    height: 10 rem;
    background-color: #000324;
    opacity: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
   
}

.reverse-text
{
   color: white;
display: flex;
justify-content: center; 
  align-items: center;
  margin-bottom: 3rem;
}

.searchtext{
    color: white;
}

.searchbox{
    display: flex;
    justify-content: center;
    
}

.footerbox
{           
  height: 250px;                  
  background: rgba(20, 25, 60, 0.85);
  margin: 0 auto;                
    background-color: #000324;
    opacity: 100%;
}

.footer-logo{
    margin-top:2%;
     height: 80px;
     width: 90px;
     display:flex;
     justify-content: center;
     text-align: center;
     margin-left: 45%;
}

.footer-text{
    color:white;
    margin-top: 1%;
    margin-left: 35%
}

.footer-text2{
    color:white;    
    margin-top: 1%;
    margin-left: 25%;
}

.package-margin{
    margin-left: 5%;
    margin-right: 5%;

}

.button-style{
    margin-left: 1rem;
    margin-top: 4vh;
}



